@model Gamezzz.Models.Game

<br />
<h2 class="text-info">@(Model.Id!=0 ? "Edit" : "Create") Game</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
        }
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Title"></label>
            </div>
            <div class="col-6">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Author"></label>
            </div>
            <div class="col-6">
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Category"></label>
            </div>
            <div class="col-6">
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="YearOfRelease"></label>
            </div>
            <div class="col-6">
                <input asp-for="YearOfRelease" class="form-control" />
                <span asp-validation-for="YearOfRelease" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="photoName"></label>
            </div>
            <div class="col-6">
                <input asp-for="photoName" class="form-control" />
                <span asp-validation-for="photoName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <button type="submit" class="btn btn-primary form-control">
                    @(Model.Id!=0 ? "Update" : "Create")
                </button>
            </div>
            <div class="col-6">
                <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>

    </form>

</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}